html{
	padding:0px;
	MARGIN-RIGHT: auto; MARGIN-LEFT: auto; 
}
body{
	margin:12px!important;margin:10px;
	text-align: center;
	background-color: #FFc547;
	font-family: "宋体";
	/*font: "Microsoft Yahei";*/
	font-size: 19px;	
}
.top {
	margin:auto;
	width: 1320px;
	height: 200px;
	background-color: #FFc547;
	border-top-width: 1px;
	border-top-color: #FF6600;
	border-top-style: solid;
	border-right-width: 1px;
	border-right-color: #FF6600;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-color: #FF6600;
	border-left-style: solid;
	background-image: url(../images/qldzj-ml1320.jpg);
}
.fjbm {
	margin:0 auto;
	width: 1320px;
	height: 175px!important;height: 165px;
	border:1px solid #FF6601;
	background-color: #FFFFCC;
	COLOR: #333333; 
}
.fjbm1 {
	height: 145px;
	padding:16px 0px 13px 60px;
	background-color: #FFFFCC;
}
.fjbm2 {
	width: 210px!important;width: 220px;
	height: 30px;
	padding:6px 0px 0px 16px;
	background-color: #FFFFCC;
	float:left;
	line-height:100%;
	text-align: left;
}
.fjbm2 a{
	display:inline;
	}
.fjbm2 a:hover{
	COLOR: #333333; 
	}
.fjbm2 a:current{
	background:#FEE4A9;
	color:#FF0000;
	}
.fjbm2 li {
	color:#FF0000;
	}
.fjbm3 {
	width: 955px;
	height: 23px;
	background-color: #FF0001;
}

.fjml-table {
	margin:0 auto;
	vertical-align: middle;
	width: 1322px!important;width: 1320px;
	padding:3px 0px 0px 0px;
	background-color: #f9f4eb;
	background-color: #FFd988;
	background-color: #FF6601;
	background-color: #f9f4eb;
	background-color: #FFDB8D;
	background-color: #FEEECA;
	background-color: #FFc547;
	background-color: #FFFFCC;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px solid #FF6600;
	}
.fjml-table1 {
	border-collapse: collapse;
	border: 1px solid #FF6600;
	width: 100%;
	color:#FF0000;
}
.fjml-table1 td{
	height: 36px;
	font-size: 19px;
	border: 1px solid #FF6600;
	text-align: center;
	color:#FF0000;
}

.dpnpj {
	COLOR: #FF6600; 
	line-height: normal;
}
.dpnpjn {
	line-height: normal;
	color: #FF9900;
	}
a:link {
	text-decoration: none;
	color: #FF3300;
}
a:visited {
	color: #FF3300;
	text-decoration: none;
}
a:hover {
	color: #993300;
	text-decoration: none;
}
a:active {
	color: #FF3300;
	text-decoration: none;
}
.foot{
	text-align:center;
	padding:16px 0px;
	line-height:120%;
}
.foot .copyright{
	height: 25px;
	font-size:16px;
	margin: 0px;
	color:#FF0000;
}
.foot, a:link span {
	text-decoration: none;
}

.page_nav {
	z-index: 1000;
	width: 100%;
	text-align: center;
	color: #FF6600;
	line-height: 100px;
	font-size:45px;
	font-family: "Microsoft Yahei";
}
#hui ul {display: none;}

@media screen and (max-device-width: 1450px) {
body{
	font-size: 15px;	
}
.top {
	width: 955px;
	height: 150px;
	background-image: url(../images/qldzj-ml980.jpg);
}
.fjbm {
	width: 955px;
	height: 145px!important;height: 135px;
}
.fjbm1 {
	height: 125px;
	padding:6px 0px 13px 40px;
}
.fjbm2 {
	width: 160px!important;width: 170px;
	height: 28px;
}

.fjml-table {
	width: 956px!important;width: 955px;
}
	
.fjml-table1 td{
	height: 28px;
	font-size: 15px;
}

.page_nav {
	font-size:32px;
}
.foot{
	padding:6px 0px;
}
.foot .copyright{
	height: 20px;
	font-size:11px;
}
	
����}
